@model IEnumerable<CategoriesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All categories</h2>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Create new category</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var x = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@Interlocked.Increment(ref x)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-name="@item.Name">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-name="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>