@model IEnumerable<PhotoViewModel>
@inject SignInManager<User> signInManager
@{
    ViewData["Title"] = "GetContestsPhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contest's photos</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            
        }
    </div>
</div>
<br />
<div>
    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Contests">Contests</a>
</div>
