@model IEnumerable<PhotoViewModel>
@inject SignInManager<User> signInManager
@{
    ViewData["Title"] = "GetContestsPhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contest's photos</h2>
@if (Model.Count() == 0)
{
    <h3>There are no photos for this contest</h3>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <partial name="_SinglePhotoPartial" model="item" />
            }
        </div>
    </div>
}
<br />
<div>
    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Contests">All contests</a>
</div>
