@model IEnumerable<PhotoViewModel>
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "GetPhotosForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My photos</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_SinglePhotoPartial" model="item" />
        }
    </div>
</div>
<br />
<a class="btn btn-outline-dark" onclick="history.go(-1);">Back</a>
