@model CreateContestViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new contest</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <select asp-for="CategoryName" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
                    @Html.DisplayNameFor(model => model.IsOpen)
            <div class="form-check form-switch">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked asp-for="IsOpen" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Phase1" class="control-label"></label>
                <input asp-for="Phase1" class="form-control" />
                <span asp-validation-for="Phase1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phase2" class="control-label"></label>
                <input asp-for="Phase2" class="form-control" />
                <span asp-validation-for="Phase2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finished" class="control-label"></label>
                <input asp-for="Finished" class="form-control" />
                <span asp-validation-for="Finished" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-outline-dark" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
