@model UserContestsViewModel

@{
    ViewData["Title"] = "Open";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My contests</h1>

<h4>Choose current or past contest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetByUserFiltered">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select asp-for="Filter" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="">All</option>
                <option value="current">Current</option>
                <option value="past">Past</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Get" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">All contests</a>
</div>
<div>
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Back to home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}