@model ByPhaseViewModel

@{
    ViewData["Title"] = "Open";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Filter contests</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetByPhaseFiltered">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Filter by:</p>
            <select asp-for="Phase" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="phase 1">Phase 1</option>
                <option value="phase 2">Phase 2</option>
                <option value="finished">Finished</option>
            </select>
            <p>Sort by:</p>
            <select asp-for="SortBy" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="name">Name</option>
                <option value="category">Category</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
            </select>
            <p>Order by:</p>
            <select asp-for="OrderBy" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <br />
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-success" />
                <a class="btn btn-outline-dark" asp-controller="Contests" asp-action="Index">All contests</a>
                <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Back to home</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
